{% extends 'base.html' %}

{% block content %}
<div class="w-box w-box-blue">
    <div class="w-box-header">
        <h4>Edit Profile</h4>
    </div>
    <div class="w-box-content cnt_a">
        <form id="wizard-validation-form" class="form-horizontal" method="post">
            {% csrf_token %}
            {% include 'includes/dmspeople_flat_form.html' %}
            <div class="well">
                <input type="submit" class="btn btn-inverse pull-right">
            </div>
        </form>
    </div>
</div>
{% endblock content %}