<div id="evaluation_report">
    {% for section in evaluation_report %}
    <table class="tbl_info_2" style="width: 100%">
        {% if forloop.counter < 6 %}
        {% if forloop.counter > 1 %}
        <tr>
            <th style="width: 35%; text-align: left; white-space: normal; vertical-align: middle;">
                {{ section.section }}
            </th>
            <th style="width: 9%; vertical-align: middle;">Responses</th>
            <th style="width: 9%; vertical-align: text-top;">(5)<br>Strongly<br>Agree</th>
            <th style="width: 9%; vertical-align: text-top;">(4)<br>Agree</th>
            <th style="width: 11%; vertical-align: text-top;">(3)<br>Neither<br/>Agree or<br/>Disagree</th>
            <th style="width: 9%; vertical-align: text-top;">(2)<br>Disagree</th>
            <th style="width: 9%; vertical-align: text-top;">(1)<br>Strongly<br>Disagree</th>
            <th style="width: 9%; vertical-align: text-top;">(0)<br>Not<br>Applicable</th>
        </tr>
        {% else %}
        <tr>
            <th style="width: 35%; text-align: left; white-space: normal; vertical-align: middle;">
                {{ section.section }}
            </th>
            <th style="width: 9%; vertical-align: middle;">Responses</th>
            <th style="width: 9%; vertical-align: text-top;">(5)<br>Advanced</th>
            <th style="width: 9%; vertical-align: text-top;">(4)<br>Intermediate</th>
            <th style="width: 11%; vertical-align: text-top;">(3)<br>Basic</th>
            <th style="width: 9%; vertical-align: text-top;">(2)<br>Little</th>
            <th style="width: 9%; vertical-align: text-top;">(1)<br>None</th>
            <th style="width: 9%; vertical-align: text-top;">(0)<br>Not<br> Applicable</th>
        </tr>
        {% endif %}

        {% for result in section.results %}
        <tr>
            <td style="text-align: left;">{{ result.7 }}</td>
            <td>{{ result.6 }}</td>
            <td>{{ result.5 }}</td>
            <td>{{ result.4 }}</td>
            <td>{{ result.3 }}</td>
            <td>{{ result.2 }}</td>
            <td>{{ result.1 }}</td>
            <td>{{ result.0 }}</td>
        </tr>
        {% endfor %}
    </table>
    <br/>
    {% else %}
    <table class="tbl_info_2">
        <tr>
            <th style="width: 35%; text-align: left; white-space: normal">{{ section.section }}</th>
        </tr>
    </table>

    {% for result in section.results %}
    <table class="tbl_info_2">
        <tr>
            <td style="text-align: left;"><strong>{{ result.1 }}</strong></td>
        </tr>
        {% for comment in result.0 %}
        <tr>
            <td style="text-align: left;">{{ comment }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
