<form id="wizard-validation-form" class="form-horizontal" method="post">
{% csrf_token %}

<div id="wizard-validation" class="swMain">
<ul>
    <li>
        <a href="#sw-val-step-1">
            <span class="stepNumber">1</span>
            <span class="stepDesc">
               Previous Knowledge <small>in subject matter</small>
            </span>
        </a>
    </li>
    <li>
        <a href="#sw-val-step-2">
            <span class="stepNumber">2</span>
            <span class="stepDesc">
               Evaluation <small>of course</small>
            </span>
        </a>
    </li>
    <li>
        <a href="#sw-val-step-3">
            <span class="stepNumber">3</span>
            <span class="stepDesc">
               Instructor <small>evaluation</small>
            </span>
        </a>
    </li>
    <li>
        <a href="#sw-val-step-4">
            <span class="stepNumber">4</span>
            <span class="stepDesc">
               Benefit <small>of course</small>
            </span>
        </a>
    </li>
    <li>
        <a href="#sw-val-step-5">
            <span class="stepNumber">5</span>
            <span class="stepDesc">
               Overall Rating <small>of course</small>
            </span>
        </a>
    </li>
    <li>
        <a href="#sw-val-step-6">
            <span class="stepNumber">6</span>
            <span class="stepDesc">
               General Comments
            </span>
        </a>
    </li>
</ul>
<div id="sw-val-step-1">
    <h2 class="StepTitle">Step 1: Knowledge/Skills/Abilities (KSAs) Level in Subject Matter</h2>
    <div class="{% if form.q1.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q1.auto_id }}">{{ form.fields.q1.label }}</label>

        <div class="controls">
            {{ form.q1 }}
            {% if form.q1.errors %}
                <label for="{{ form.q1.auto_id }}" class="error">
                    {% for error in form.q1.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q2.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q2.auto_id }}">{{ form.fields.q2.label }}</label>

        <div class="controls">
            {{ form.q2 }}
            {% if form.q2.errors %}
                <label for="{{ form.q2.auto_id }}" class="error">
                    {% for error in form.q2.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
</div>

<div id="sw-val-step-2">
    <h2 class="StepTitle">Step 2: Course Evaluation</h2>
    <div class="{% if form.q3.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q3.auto_id }}">{{ form.fields.q3.label }}</label>

        <div class="controls">
            {{ form.q3 }}
            {% if form.q1.errors %}
                <label for="{{ form.q3.auto_id }}" class="error">
                    {% for error in form.q3.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q4.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q4.auto_id }}">{{ form.fields.q4.label }}</label>

        <div class="controls">
            {{ form.q4 }}
            {% if form.q4.errors %}
                <label for="{{ form.q4.auto_id }}" class="error">
                    {% for error in form.q4.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q5.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q5.auto_id }}">{{ form.fields.q5.label }}</label>

        <div class="controls">
            {{ form.q5 }}
            {% if form.q5.errors %}
                <label for="{{ form.q5.auto_id }}" class="error">
                    {% for error in form.q5.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q6.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q6.auto_id }}">{{ form.fields.q6.label }}</label>

        <div class="controls">
            {{ form.q6 }}
            {% if form.q6.errors %}
                <label for="{{ form.q6.auto_id }}" class="error">
                    {% for error in form.q6.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
</div>

<div id="sw-val-step-3">
    <h2 class="StepTitle">Step 3: Instructor Evaluation</h2>
    <div class="{% if form.q7.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q7.auto_id }}">{{ form.fields.q7.label }}</label>

        <div class="controls">
            {{ form.q7 }}
            {% if form.q7.errors %}
                <label for="{{ form.q7.auto_id }}" class="error">
                    {% for error in form.q7.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q8.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q8.auto_id }}">{{ form.fields.q8.label }}</label>

        <div class="controls">
            {{ form.q8 }}
            {% if form.q8.errors %}
                <label for="{{ form.q8.auto_id }}" class="error">
                    {% for error in form.q8.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q9.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q9.auto_id }}">{{ form.fields.q9.label }}</label>

        <div class="controls">
            {{ form.q9 }}
            {% if form.q9.errors %}
                <label for="{{ form.q9.auto_id }}" class="error">
                    {% for error in form.q9.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q10.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q10.auto_id }}">{{ form.fields.q10.label }}</label>

        <div class="controls">
            {{ form.q10 }}
            {% if form.q10.errors %}
                <label for="{{ form.q10.auto_id }}" class="error">
                    {% for error in form.q10.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q11.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q11.auto_id }}">{{ form.fields.q11.label }}</label>

        <div class="controls">
            {{ form.q11 }}
            {% if form.q11.errors %}
                <label for="{{ form.q11.auto_id }}" class="error">
                    {% for error in form.q11.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q12.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q12.auto_id }}">{{ form.fields.q12.label }}</label>

        <div class="controls">
            {{ form.q12 }}
            {% if form.q12.errors %}
                <label for="{{ form.q12.auto_id }}" class="error">
                    {% for error in form.q12.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q13.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q13.auto_id }}">{{ form.fields.q13.label }}</label>

        <div class="controls">
            {{ form.q13 }}
            {% if form.q13.errors %}
                <label for="{{ form.q13.auto_id }}" class="error">
                    {% for error in form.q13.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q14.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q14.auto_id }}">{{ form.fields.q14.label }}</label>

        <div class="controls">
            {{ form.q14 }}
            {% if form.q14.errors %}
                <label for="{{ form.q14.auto_id }}" class="error">
                    {% for error in form.q14.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q15.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q15.auto_id }}">{{ form.fields.q15.label }}</label>

        <div class="controls">
            {{ form.q15 }}
            {% if form.q15.errors %}
                <label for="{{ form.q15.auto_id }}" class="error">
                    {% for error in form.q15.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
</div>

<div id="sw-val-step-4">
    <h2 class="StepTitle">Step 4: Course Benefit</h2>
    <div class="{% if form.q16.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q16.auto_id }}">{{ form.fields.q16.label }}</label>

        <div class="controls">
            {{ form.q16 }}
            {% if form.q16.errors %}
                <label for="{{ form.q16.auto_id }}" class="error">
                    {% for error in form.q16.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q17.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q17.auto_id }}">{{ form.fields.q17.label }}</label>

        <div class="controls">
            {{ form.q17 }}
            {% if form.q17.errors %}
                <label for="{{ form.q17.auto_id }}" class="error">
                    {% for error in form.q17.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q18.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q18.auto_id }}">{{ form.fields.q18.label }}</label>

        <div class="controls">
            {{ form.q18 }}
            {% if form.q18.errors %}
                <label for="{{ form.q18.auto_id }}" class="error">
                    {% for error in form.q18.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q19.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q19.auto_id }}">{{ form.fields.q19.label }}</label>

        <div class="controls">
            {{ form.q19 }}
            {% if form.q19.errors %}
                <label for="{{ form.q19.auto_id }}" class="error">
                    {% for error in form.q19.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
</div>

<div id="sw-val-step-5">
    <h2 class="StepTitle">Step 5: Overall Ratings</h2>
    <div class="{% if form.q20.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q20.auto_id }}">{{ form.fields.q20.label }}</label>

        <div class="controls">
            {{ form.q20 }}
            {% if form.q20.errors %}
                <label for="{{ form.q20.auto_id }}" class="error">
                    {% for error in form.q20.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q21.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q21.auto_id }}">{{ form.fields.q21.label }}</label>

        <div class="controls">
            {{ form.q21 }}
            {% if form.q21.errors %}
                <label for="{{ form.q21.auto_id }}" class="error">
                    {% for error in form.q21.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q22.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q22.auto_id }}">{{ form.fields.q22.label }}</label>

        <div class="controls">
            {{ form.q22 }}
            {% if form.q22.errors %}
                <label for="{{ form.q22.auto_id }}" class="error">
                    {% for error in form.q22.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q23.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q23.auto_id }}">{{ form.fields.q23.label }}</label>

        <div class="controls">
            {{ form.q23 }}
            {% if form.q23.errors %}
                <label for="{{ form.q23.auto_id }}" class="error">
                    {% for error in form.q23.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
</div>

<div id="sw-val-step-6">
    <h2 class="StepTitle">Step 6: General Comments</h2>
    <div class="{% if form.q24.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q24.auto_id }}">{{ form.fields.q24.label }}</label>

        <div class="controls">
            {{ form.q24 }}
            {% if form.q24.errors %}
                <label for="{{ form.q24.auto_id }}" class="error">
                    {% for error in form.q24.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q25.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q25.auto_id }}">{{ form.fields.q25.label }}</label>

        <div class="controls">
            {{ form.q25 }}
            {% if form.q25.errors %}
                <label for="{{ form.q25.auto_id }}" class="error">
                    {% for error in form.q25.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q26.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label" for="{{ form.q26.auto_id }}">{{ form.fields.q26.label }}</label>

        <div class="controls">
            {{ form.q26 }}
            {% if form.q26.errors %}
                <label for="{{ form.q26.auto_id }}" class="error">
                    {% for error in form.q26.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
    <div class="{% if form.q27.errors %}f-error{% endif %} control-group formSep">
        <label class="control-label"
               for="{{ form.q27.auto_id }}">{{ form.fields.q27.label }}</label>

        <div class="controls">
            {{ form.q27 }}
            {% if form.q27.errors %}
                <label for="{{ form.q27.auto_id }}" class="error">
                    {% for error in form.q27.errors %}{{ error }}{% endfor %}
                </label>
            {% endif %}
        </div>
    </div>
</div>
</div>
<noscript>
    <input type="submit" class="btn btn-primary" value="Save"></input>
</noscript>
</form>