{% for form in form_list %}
    <div class="row-fluid">
        <div class="span12">
            <div class="w-box w-box-blue">
                <div class="w-box-header">
                    <h4>{{ forloop.counter }}. {{ form.question }}</h4>
                </div>
                <div class="w-box-content">
                        {% for image in form.question.photo_set.all %}
                            <br/><br/>
                            <img src="{{ MEDIA_URL }}{{ image.image }}"/>
                            <br/>
                            {{ image.caption }}
                        {% endfor %}

                        {{ form }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    <div class="row-fluid">
        <div class="span12">
<div class="buttons well">
    <input type="submit" class="btn btn-primary" tabindex="{{ forloop.counter|add:1 }}" value="Submit Test">
</div>
</div>
        </div>
{% block style %}
    <style>
        ul {
            list-style-type: none;
        }

        p {
            padding: 0;
            font-weight: bold;
            font-size: 1.1em;
        }
    </style>
{% endblock style %}
