{% load utility_tags %}

{% for result in results %}
    <div class="row-fluid">
        <div class="span12">
            <div class="w-box w-box-blue">
                <div class="w-box-header">
                    <h4>{{ forloop.counter }}. {{ result.question }}</h4>
                </div>
                <div class="w-box-content">
                    <ul>
                        {% for answer in result.answers %}
                            <li>
                                {% if result.answer == answer %}
                                    <strong>{{ forloop.counter|index_to_char }}) {{ answer }}</strong>
                                {% else %}
                                    {{ forloop.counter|index_to_char }}) {{ answer }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <strong>
                        {% if participant.passed or test_type == "PRE" %}
                            {% if result.answer != result.correct_answer %}
                                <div class="result" style="padding-left: 10px;">The correct answer
                                    is: {{ result.correct_answer.sort_order|index_to_char }}</div>
                            {% endif %}

                        {% else %}
                            {% if result.answer != result.correct_answer %}
                                <div class="result" style="padding-left: 10px;">Incorrect</div>
                            {% endif %}
                        {% endif %}
                    </strong>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% block style %}
    <style>
        ul {
            list-style-type: none;
        }

        p {
            padding: 0;
            font-weight: bold;
            font-size: 1.1em;
        }
    </style>
{% endblock style %}